/**
 * Home
 */
.hero {
    padding: 0;
    height: 100vh;
    position: relative;
}

.logo,
.tagline {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    padding: 0 ($spacing-unit / 2);
    pointer-events: none;
}

.logo {
    cursor: auto;
    pointer-events: auto;
    top: 30%;
    transform: translate3d(0,25%,0);

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 500px;
    }
}

.tagline {
    bottom: 10%;
    cursor: auto;
    pointer-events: auto;

    p {
        color: $brand-secondary;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
        width: 100%;
    }
}

.logo,
.tagline {
    opacity: 1;
    animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.tagline {
    animation-delay: 0.2s;
}

.down-arrow {
    animation: animDownArrow 1s cubic-bezier(0.7,0,0.3,1) both;
    animation-delay: 1.5s;
}

@keyframes animInitialHeader {
    from { opacity: 0; transform: translate3d(0,800px,0); }
}

@keyframes animDownArrow {
    0% { transform: translateY(0); }
    25% { transform: translateY(50px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(25px); }
    100% { transform: translateY(0);}
}

.latest {
    background: $off-white;
    border-top: 1px solid $border-color;
}

.callout {
    margin-top: $spacing-unit * 2;
    text-align: center;
}

.about {
    background: $gray;
    color: $white;

    .call-to-action {
        margin-top: $spacing-unit * 2;
        text-align: center;
    }
}

.features {
    h2 {
        color: lighten($gray, 25%);
    }

    hr {
        border-color: $brand-secondary;
    }
}

.feature-icons {
    margin-top: $spacing-unit * 2;

    .column {
        padding: 0 $spacing-unit;
        text-align: center;

        img {
            margin-bottom: $spacing-unit / 2;
            max-height: 235px;
            width: 100%;
        }

        h3 {
            color: lighten($gray, 25%);
            font-weight: 100;
            margin: $spacing-unit 0;
        }
    }

    @include mq($medium) {
        p {
            text-align: left;
        }
    }
}
